{% extends 'base.html' %}

{% block body %}
    <h2>Loop up book</h2>
<!-- Search form -->
    <form method="post" name="searchBar" id="searchBar">
     <div class="form-group row">
        <label for="bookSearch" class="col-sm-2 col-form-label">Search Book</label>
        <div class="col-sm-10">
          <input type="hidden" name="name" value="bookSearch">
          <input type="text" class="form-control" name="bookSearch" id="bookSearch" placeholder="Search" required>
        </div>
      </div>
    </form>

{% if books|length == 0 %}
<div>
<h4> </h4>
<h4>Didn't find the book...</h4>
</div>
{% else %}
{#    card desk#}
<div class="card-columns">
{% for book in books %}
  <div class="card">
    <img src="{{ book['img_url_l'] }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ book['title'] }}</h5>
        <form class="form-inline" method="post">
        <div class="form-group mx-sm-3 mb-2">
          {% if book['rating'] != None %}
          <input type="number" min="1" max="10" class="form-control" name="rating" id="rating" value="{{ book['rating'] }}" required>
          {% else %}
          <input type="number" min="1" max="10" class="form-control" name="rating" id="rating" placeholder="1-10" required>
          {% endif %}
            <input type="hidden" value={{ book['bookId'] }} name="bookId">
            <input type="hidden" name="name" value="bookPreference">
        </div>
            <button type="submit" class="btn btn-primary mb-2">Rate</button>
        </form>
    </div>
   </div>
{% endfor %}

</div>
{% endif %}
{% endblock %}
